/**
 * @author Todd Sayre
 */

// NPM
@import '../../node_modules/sass-bem/bem';
@import '../../node_modules/breakpoint-sass/stylesheets/breakpoint';

// Variables
@import 'colors';

// Breakpoint
@import 'breakpoint-config';

$outside-spacing: 0.5rem;
$inside-spacing: 1rem;

@include b('aad') {
  background-color: $warm-black;
  box-sizing: border-box;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.5;
  justify-content: space-between;
  max-width: 100%;
  width: 100vw;

  * {
    box-sizing: inherit;
  }

  @include e('content') {
    margin: 0 auto;
    padding: $outside-spacing $outside-spacing 5rem;

    @include breakpoint($big) {
      width: 600px;
    }
  }

  @include e('intro') {
    margin-bottom: $outside-spacing;
  }

  @include e('actions') {

    display: block;

    @media (orientation: landscape) {
      display: flex;
      justify-content: space-between;
    }

    > *+* {
      margin-bottom: 0;
      margin-top: 1rem;

      @media (orientation: landscape) {
        & {
          margin: 0;
        }
      }
    }
  }

  @include e('cta') {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $inside-spacing;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 100%;

    @media (orientation: landscape) {
      width: calc(50% - (#{$outside-spacing} / 2));
    }

    @include m('login') {
      background-color: $orange;

      &,
      &:link,
      &:visited {
        color: #fff;
      }
    }

    @include m('logout') {
      background-color: $grey;

      &,
      &:link,
      &:visited {
        color: $warm-black;
      }
    }
  }

  @include e('cta-text') {
    padding: 0 $inside-spacing 0;
  }

  @include e('cta-icon') {
    height: auto;
    width: 16px;

    @include m('login') {
      path {
        fill: #fff;
      }
    }

    @include m('logout') {
      path {
        fill: $warm-black;
      }
    }

  }

  @include e('solicitation') {
    background-color: $orange;
    padding: 1rem;
    position: relative;
    text-align: center;
  }

  @include e('solicitation-icon-wapper') {
    display: block;
    background-color: $orange;
    border-radius: 100%;
    color: #fff;
    height: 50px;
    padding: $inside-spacing;
    position: absolute;
    left: 50%;
    top: 0rem;
    transform: translate(-50%, -50%);
    width: 50px;
    z-index: 1;
  }

  @include e('solicitation-icon') {
    height: auto;
    max-width: 100%;
    width: 100%;

    path {
      fill: #fff;
    }
  }

  @include e('solicitation-text') {
    padding: $inside-spacing 0 0;
    position: relative;
    z-index: 2;
  }
}
