.c-angle-divider {
  // Please configure these variables
  $divider-angle: 10deg;
  // Please configure these custom properties
  @include m('between-logged-out-and-aad') {
    --above-color: var(--color-grey-lighter);
    --divider-color: var(--color-grey-lighter);
    --below-color: var(--color-black);
  }
  @include m('between-aad-and-wp-login') {
    --above-color: var(--color-black);
    --divider-color: var(--color-orange);
    --below-color: transparent;
  }
  // Do not change these custom properties
  --divider-angle: #{$divider-angle};
  --divider-sin: #{sin($divider-angle)};
  --divider-cos: #{cos($divider-angle)};

  background-color: var(--below-color);
  height: 0;
  padding: 0 0 calc(100% * var(--divider-sin));
  overflow: hidden;
  position: relative;

  &__part {

    // Background
    &:nth-of-type(1) {
      background-color: var(--above-color);
      // Border radius for a little insurance
      border-bottom-left-radius: 50% 100%;
      border-bottom-right-radius: 50% 100%;
      height: 50%;
      position: absolute;
      transform: scaleY(1.1);
      transform-origin: top center;
      width: 100%;
      z-index: 1;
    }

    // Sides
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4),
    &:nth-of-type(5) {
      background-color: var(--divider-color);
      bottom: 0;
      content: '';
      height: 25%;
      position: absolute;
      transform: rotate(var(--rotate)) scaleX(1.1) scaleY(1.2);
      width: 50%;
      z-index: 2;
    }

    // Left sides
    &:nth-of-type(2),
    &:nth-of-type(3) {
      --rotate: var(--divider-angle);
    }

    // Right sides
    &:nth-of-type(4),
    &:nth-of-type(5) {
      --rotate: calc(-1 * var(--divider-angle));
    }

    // Top sides
    &:nth-of-type(2),
    &:nth-of-type(4) {
      top: 0;
    }

    // Bottom sides
    &:nth-of-type(3),
    &:nth-of-type(5) {
      bottom: 0;
    }

    // Left top
    &:nth-of-type(2) {
      left: 0;
      top: 0;
      transform-origin: left top;
    }

    // Left bottom
    &:nth-of-type(3) {
      transform-origin: right bottom;
      right: 50%;
    }

    // Right top
    &:nth-of-type(4) {
      transform-origin: right top;
      right: 0;
    }

    // Right bottom
    &:nth-of-type(5) {
      left: 50%;
      transform-origin: left bottom;
    }
  }
}