/**
 * This block exists primarily for moving all the plugin-generated HTML easily all at once
 * And setting the font is just for convenience
 */

@include c('aad-login') {
  background-color: var(--color-black);
  color: var(--color-white);
  position: relative;

  @include e('content') {
    display: grid;
    grid-gap: 1rem;
    grid-auto-flow: row;
    line-height: 1.2;
    margin: 0 auto;
    max-width: 60rem;
    padding: 1rem;

    @include for-larger-screens {
      grid-template:
        "heading            heading"
        "log-in-description log-out-description"
        "log-in-button      log-out-button";
    }
  }

  @include e('heading') {
    font-weight: normal;
    font-size: 2rem;

    @include for-larger-screens {
      grid-area: heading;
    }
  }

  @include e('description') {
    @include for-larger-screens {
      @include m('log-in') {
        grid-area: log-in-description;
      }
      @include m('log-out') {
        grid-area: log-out-description;
      }
    }
  }

  @include e('button') {
    border: 0;
    font-size: 1.8rem;
    padding: 1rem;
    text-decoration: none;

    @include m('log-in') {
      background-color: var(--color-green-x-ffffff-nt-aa);

      &:active,
      &:focus,
      &:hover,
      &:link,
      &:visited {
        color: var(--color-white);
      }

      @include for-larger-screens {
        grid-area: log-in-button;
      }
    }

    @include m('log-out') {
      background-color: var(--color-red-x-222222-nt-aa);

      &:active,
      &:focus,
      &:hover,
      &:link,
      &:visited {
        color: var(--color-black);
      }

      @include for-larger-screens {
        grid-area: log-out-button;
      }
    }
  }
}
