@include c('button') {
  all: unset;
  display: grid;
  grid-template-columns: 4rem 1fr;
  // justify-content: start;
  text-decoration: none;

  @include m('log-in') {

    &:active,
    &:focus,
    &:hover,
    &:link,
    &:visited {
      color: var(--color-white);
    }

    @include e('icon') {
      background-color: var(--color-green-700);

      svg {
        g {
          stroke: #fff;
        }
      }
    }

    @include e('text') {
      background-color: var(--color-green-500);
    }

    // @include for-larger-screens {
    //   grid-area: log-in-button;
    // }
  }

  @include m('log-out') {

    &:active,
    &:focus,
    &:hover,
    &:link,
    &:visited {
      color: var(--color-white);
    }

    @include e('icon') {
      background-color: var(--color-red-800);

      svg {
        g {
          stroke: #fff;
        }
      }
    }

    @include e('text') {
      background-color: var(--color-red-750);
    }

    // @include for-larger-screens {
    //   grid-area: log-out-button;
    // }
  }

  // An optional element
  @include e('icon') {
    align-content: center;
    display: grid;
    justify-content: center;
    padding: 0.5rem;

    svg {
      max-width: 100%;
    }
  }

  @include e('text') {
    align-content: center;
    display: grid;
    font-size: 1.8rem;
    justify-content: start;
    line-height: 1.2;
    padding: 1rem;
  }

}
