@include c('chevron-divider') {
  background-color: var(--color-orange-500);
  height: 20rem;
  position: relative;

  @include parse('e:triangle', 'e:anti-triangle') {
    display: block;
    height: 10rem;
    left: 0;
    position: absolute;
    width: 100%;
    transform: scaleY(1.01);
  }

  @include e('triangle') {
    fill: var(--color-black);
    top: 0;
    transform-origin: center bottom;
  }

  @include e('anti-triangle') {
    bottom: 0;
    fill: #f1f1f1;
    transform-origin: center top;
  }
}