@include c('down-chevron-divider') {

  height: var(--divider-height);
  overflow: hidden;
  position: relative;

  @include e('part') {

    // Background
    &:nth-of-type(1) {
      background-color: var(--color-black);
      height: calc(var(--divider-height) / 2);
      width: var(--divider-width);
      z-index: 1;
    }

    &:nth-of-type(2),
    &:nth-of-type(3) {
      --part-width: calc((var(--divider-width) / 2) + var(--divider-height) * var(--sin-10deg) * 2);
      --part-height: calc(var(--divider-height) / 2);

      --dtx: calc((var(--part-width) / 2) - (var(--part-height) * var(--sin-10deg)));
      --dty: 0px;

      background-color: var(--color-orange);
      bottom: 0;
      content: '';
      height: var(--part-height);
      left: 50%;
      position: absolute;
      transform: translate(var(--tx), var(--ty)) rotate(var(--angle));
      width: var(--part-width);
      z-index: 2;
    }

    // Left side
    &:nth-of-type(2) {
      --angle: var(--divider-angle);
      --tx: -100%;
      --ty: 0px;

      transform-origin: right bottom;
    }

    // Right side
    &:nth-of-type(3) {
      --angle: calc(-1 * var(--divider-angle));
      --tx: 0px;
      --ty: 0px;

      transform-origin: left bottom;
    }
  }

}