@include c('sso') {
  box-sizing: border-box;
  font-family: Gentona, sans-serif;
  font-weight: 400;
  font-size: 10px;

  &::before, &::after, *, *::before, *::after {
    box-sizing: inherit;
  }

  @include e('inside') {
    font-size: 1.6rem;
  }
}