/**
 * This block exists primarily for moving all the plugin-generated HTML easily all at once
 * And setting the font is just for convenience
 */

@include c('sso') {
  background-color: var(--color-black);
  box-sizing: border-box;
  color: var(--color-white);
  font-family: Gentona, sans-serif;
  font-weight: 400;
  font-size: 10px;
  position: relative;
  height: 100vh;

  &::before, &::after, *, *::before, *::after {
    box-sizing: inherit;
  }

  @include e('inside') {
    font-size: 1.6rem;
    line-height: 1;
  }

  @include e('content') {
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 5rem;
    width: 60rem;

    @include for-larger-screens {
      grid-template-columns: 3fr 2fr 2fr;
    }
  }

  @include e('heading') {
    grid-column: 1 / -1;
  }

  // @include e('question') {
  //   grid-column: 1;
  // }

  @include e('hint') {
    font-size: 1.2rem;
  }

  @include e('button') {
    border: 0;
    border-radius: 50%;
    height: 10rem;
    font-size: 3rem;
    width: 10rem;

    @include m('yes') {
      background-color: var(--color-orange);
      color: var(--color-white);
      grid-column: 2;
    }
    @include m('no') {
      background-color: var(--color-grey-lighter);
      color: var(--color-grey-darker);
      grid-column: 3;
    }
  }

  @include e('invitation') {
    background-color: var(--color-orange);
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
  }

  @include e('invitation-button') {
    // background-color: var(--color-orange);
    background-color: dodgerblue;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5rem;
  }

  @include e('invitation-content') {
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
    width: 60rem;
  }
}
