@include c('triangle-divider') {
  background-color: var(--color-black);

  @include e('triangle') {
    fill: var(--color-grey-lighter);
    height: 10rem;
    transform: scaleY(1.01);
    transform-origin: center bottom;
    width: 100%;
  }
}