/**
 * @author Todd Sayre
 */

@import 'trig';

$outside-spacing: 1.2rem;
$inside-spacing: 0.6rem;

$big-arrow-down-width: 100vw;
$big-arrow-down-angle: 160deg;
$big-arrow-down-height: ((sin(180deg - $big-arrow-down-angle) / 2) * $big-arrow-down-width);
$big-arrow-down-stem: 5rem;

// This was never going to work
//
//$calculable-full-width: '(100vw - (100vw - 100%))';
//
//$big-arrow-down-angle: 160deg;
//
//$calculable-big-arrow-down-width: '#{$calculable-full-width}';
//$big-arrow-down-width: calc(#{$calculable-big-arrow-down-width});
//
//$calculable-big-arrow-down-height: '(#{sin(180deg - $big-arrow-down-angle)} / 2) * #{$big-arrow-down-width}';
//$big-arrow-down-height: calc(#{$calculable-big-arrow-down-height});
//
//$big-arrow-down-stem: 5rem;