/**
 * @author Todd Sayre
 *
 * The big orange arrow
 */

// Imports: NPM
@import '../../node_modules/sass-bem/bem';

// Imports: Variables
@import 'colors';
@import 'config';

@include b('divider') {
  background-color: $orange;
  border: none;
  box-sizing: border-box;
  height: 100px;
  margin: 0 0 $big-arrow-down-height;
  padding: 0 0 $big-arrow-down-height;
  position: relative;
  overflow: visible;
  width: $big-arrow-down-width;
  z-index: 100;

  &::before, &::after, *, *::before, *::after {
    box-sizing: inherit;
  }

  @include after() {
    border-style: solid;
    border-width: $big-arrow-down-height ($big-arrow-down-width / 2) 0 ($big-arrow-down-width / 2);
    border-color: $orange transparent transparent transparent;
    bottom: (-$big-arrow-down-height);
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
    z-index: 300;
  }

}