@font-face {
  font-display: fallback;
  font-family: 'Gentona';
  font-style: normal;
  font-weight: 400;
  src: local('Gentona Medium'), local('Gentona-Medium');
}

@font-face {
  font-display: fallback;
  font-family: 'Gentona';
  font-style: italic;
  font-weight: 400;
  src: local('Gentona Medium Italic'), local('Gentona-Medium-Italic');
}

@font-face {
  font-display: fallback;
  font-family: 'Gentona';
  font-style: normal;
  font-weight: 700;
  src: local('Gentona Bold'), local('Gentona-Bold');
}

@font-face {
  font-display: fallback;
  font-family: 'Gentona';
  font-style: italic;
  font-weight: 700;
  src: local('Gentona Bold Italic'), local('Gentona-Bold-Italic');
}
