/**
 * @author Herb Cockburn
 */

@import 'colors';

body {
  background-color: $light-grey !important;
  box-sizing: border-box !important;

  * {
    box-sizing: inherit !important;
  }
}

a {
  color: #fff !important;
}

h1 {
  display: none !important;
}

#login {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

#loginform {
  border: 0.5rem solid $lightest-orange !important;
  margin: 10% auto 0 auto !important;;
  padding: 10% 10% !important;;
  width: 90% !important;;
}
