/**
 * @author Todd Sayre
 */

// Imports: NPM
@import '../../node_modules/sass-bem/bem';

// Imports: Variables
@import 'colors';
@import 'config';

@include b('scroll') {
  background-color: $warm-black;
  height: ($big-arrow-down-height / 2);
  position: relative;
  width: 100%;

  @include after() {
    border-style: solid;
    border-width: $big-arrow-down-height ($big-arrow-down-width / 2) 0 ($big-arrow-down-width / 2);
    border-color: $warm-black transparent transparent transparent;
    bottom: (-$big-arrow-down-height);
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
    z-index: 200;
  }

  @include e('content') {
    align-items: center;
    bottom: -($big-arrow-down-height / 2);
    display: flex;
    justify-content: center;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    width: 40vw;
    z-index: 400;

    @media (orientation: landscape) {
      display: block;

      > *+* {
        margin-bottom: 0;
        margin-top: $outside-spacing;
      }
    }
  }

  @include e('icon-link') {
    display: block;
    background-color: $orange;
    border-radius: 100%;
    height: 2rem;
    margin: 0 auto;
    padding: ($inside-spacing / 2);
    top: 0;
    width: 2rem;

    @media (orientation: landscape) {
      height: 3rem;
      width: 3rem;
    }
  }

  @include e('icon') {
    height: auto;
    max-width: 100%;
    width: 100%;

    path {
      fill: #fff;
    }
  }

  @include e('text-wrapper') {
    justify-content: center;
    display: flex;
    flex-direction: column;
    
    @media (orientation: landscape) {
      display: block;
    }
  }

  @include e('text') {
    color: #ffffff;
    font-size: 0.8rem;
    padding: 0 0 0 ($outside-spacing / 2);
    text-align: left;

    @media (orientation: landscape) {
      font-size: 1.2rem;
      padding: 0;
      text-align: center;
    }
  }

}
