/**
 * @author Todd Sayre
 */

// Imports: NPM
@import '../../node_modules/sass-bem/bem';
@import '../../node_modules/breakpoint-sass/stylesheets/breakpoint';
@import '../../node_modules/sass-material-colors/sass/sass-material-colors';
@import '../../node_modules/sass-material-colors/sass/sass-material-colors-placeholders';

// Imports: Variables
@import 'colors';
@import 'config';

// Imports: Breakpoint
@import 'breakpoint-config';

@include b('section') {
  font-size: 18px;
  line-height: 1.5;
  max-width: 100%;
  width: 100vw;

  strong {
    color: $orange;
  }

  @include m('logout') {
    background-color: #f1f1f1;
    color: $warm-black;
  }

  @include m('login') {
    background-color: $warm-black;
    color: #fff;
  }

  @include e('content') {
    margin: 0 auto;
    padding: ($outside-spacing * 3) $outside-spacing;

    > *+* {
      margin-bottom: 0;
      margin-top: $outside-spacing;
    }

    @include breakpoint($big) {
      width: 700px;
    }
  }

  @include e('heading') {
    font-weight: 700;
    padding: 0 0 (($inside-spacing * 2) + $outside-spacing);
    position: relative;

    @include after() {
      background-color: $orange;
      bottom: $outside-spacing;
      height: $inside-spacing;
      content: '';
      left: 0;
      position: absolute;
      width: 12rem;
    }
  }

}

//@include b('aad-logout') {
//  font-size: 18px;
//  line-height: 1.5;
//  max-width: 100%;
//  width: 100vw;
//
//  @include e('content') {
//    margin: 0 auto;
//    padding: $outside-spacing;
//
//    @include breakpoint($big) {
//      width: 700px;
//    }
//  }
//
//  @include e('heading') {
//    font-weight: 700;
//    margin-bottom: (($inside-spacing * 2) + $outside-spacing);
//    position: relative;
//
//    @include after() {
//      background-color: $orange;
//      height: $inside-spacing;
//      content: '';
//      left: 0;
//      position: absolute;
//      top: calc(100% + #{$inside-spacing});
//      width: 12rem;
//    }
//  }
//
//}
