/**
 * @author Todd Sayre
 *
 * This block exists primarily for moving all the plugin-generated HTML easily all at once
 * And setting the font is just for convenience
 *
 */

// Imports: NPM
@import '../../node_modules/sass-bem/bem';

@include b('sso') {
  background-color: fuchsia;
  box-sizing: border-box;
  font-family: Orkney, sans-serif;
  font-weight: 300;

  * {
    box-sizing: inherit;
  }
}
