/**
 * @author Todd Sayre
 */

@font-face {
  font-family: 'Orkney';
  // Really, in 2018, these are all the web fonts you need
  src: url('../fonts/orkney-light-webfont.woff2') format('woff2'),
  url('../fonts/orkney-light-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Orkney';
  // Really, in 2018, these are all the web fonts you need
  src: url('../fonts/orkney-regular-webfont.woff2') format('woff2'),
  url('../fonts/orkney-regular-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Orkney';
  // Really, in 2018, these are all the web fonts you need
  src: url('../fonts/orkney-bold-webfont.woff2') format('woff2'),
  url('../fonts/orkney-bold-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

// BEM
@import 'sso';
@import 'cta';
@import 'section';
@import 'jump';
@import 'utilities';